<h2>Lista usuarios</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <!-- <th>id</th> -->
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Genero</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <!-- <td>{{usuario.id}}</td> -->
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.genero}}</td>
      <td>
        <button (click)="actualizarUsuario(usuario.id)"  class="btn btn-info">Editar</button>
        <button (click)= "eliminarUsuario(usuario.id)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
        <button (click)= "verDetallesDelUsuario(usuario.id)" class="btn btn-primary" style="margin-left : 10px;">Detalles</button>
      </td>
    </tr>
  </tbody>
</table>
